@font-face {
  font-family: 'Roboto Condensed Reqular';
  src: url('font/RobotoCondensed-Regular.ttf');
  /* font-weight: 700; */
}

@font-face {
  font-family: 'Roboto Condensed Bold';
  src: url('font/RobotoCondensed-Bold.ttf');
}

@font-face {
  font-family: 'Roboto Condensed Light';
  src: url('font/RobotoCondensed-Light.ttf');
}

body{ background: #fff; /* font-family: Advent Pro Semi Bold, sans-serif; */}
.logo img{ width: 95px;}
.contact-div{
  border-right: 4px solid #ff6600;
}

.icon-contacts i{
    color: #F60;
    font-size: 20px;
}

/* Banner image text */
.display-1 { font-family: 'Roboto Condensed Bold', sans-serif; }
/* .display-2, .display-3, .display-4, .display-5, .display-6, .display-7{font-family: Advent Pro Semi Bold, sans-serif;} */

.application-div{background-color: #fff !important;}

.logo{padding:6px;}
.social-list{    padding-top: 15px;}
.socicon {font-size:27px; color:#333333;}

/* Header Links */
.cid-ril3yc4pgM .nav-link{
  font-size: 16px;
  font-family: 'Roboto Condensed Reqular', sans-serif;
}
.cid-ril3yc4pgM .active a{ color: #f2771a !important; }

.cid-ril3yc4pgM a:focus {
  color:#F60;
}

/* Contact page */
.cid-rilnhsBBBL .input{
  font-family: 'Roboto Condensed Light', sans-serif;
}
.cid-rilnhsBBBL .mbr-text{
  font-size: 18px;
  font-family: 'Roboto Condensed Light', sans-serif;
}

.cid-ril8H801Dr .section-text{font-size: 17px;font-family: 'Roboto Condensed Bold', sans-serif;}

/*Product page*/
.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
}

.item .icons{
    padding: 20px 0 20px 0;
}
.item img {
    width: 60px;
    height: 60px;
}
.item .text {
  color: #fff;
  display: block;
  margin-top:5px;
}

.cid-ripCC9sqDe, .cid-rilkO0Zx18{
  background: #fff;
}

.cid-rilcHRASZE, .cid-rilaYmvhbp, .cid-rilmKbDRjr{ padding-bottom: 35px; }
.cid-ripCC9sqDe .full-screen .product-attachment .slider-fullscreen-image{min-height: 375px;}

/* Products page */
.cid-rild8axaz1{padding-top: 60px;}
.cid-rild8axaz1 .media-container-row{justify-content: left;}
.cid-rild8axaz1 .card-wrapper{height: 520px; max-height: 520px;}
.cid-rild8axaz1 h4.display-7{font-family: 'Roboto Condensed Bold', sans-serif;font-size: 26px; line-height: 35px;}
.cid-rild8axaz1 p.display-7{font-family: 'Roboto Condensed Light', sans-serif;font-weight: 600; font-size: 18px;}
.cid-rild8axaz1 img{ max-height: 350px; height:350px;object-fit: contain;}

/* Product detail page */
.cid-rileZKUTg3 img{max-height: 600px; height:600px; object-fit: contain;}
.cid-rileZKUTg3 h3{
  color: #ff6501;font-family: 'Roboto Condensed Bold', sans-serif;font-size: 26px;line-height: 35px;
}
.cid-rileZKUTg3 p{font-family: 'Roboto Condensed Light', sans-serif;font-weight: 600;font-size:18px;}
.accordion-group h2.align-center{font-family: 'Roboto Condensed Bold', sans-serif;}
.product-links .icons span{font-family: 'Roboto Condensed Light', sans-serif;font-weight: 600;font-size:16px;}
.cid-rillRmnV28 .display-5{font-family: 'Roboto Condensed Light', sans-serif;font-weight: 600;font-size:16px;}
.attachments .content-slider{display: flex; justify-content: center;}
.attachments .content-slider-wrap{width: 60%;}
.attachments .slider-fullscreen-image img {height: 480px; max-height: 480px;width: 100%;}
.cid-rilkO0Zx18 img{ height: 240px; max-height: 240px; object-fit: contain;}
.cid-ril8ADp4sV{padding: 62px 0 35px 0;}
.image-gallery .modal-header{padding: 7px;border-bottom: 0px;}
.image-gallery .close-button{    top: 9px;color: #000;width: 40px;height: 30px;font-size: 15px;right: 15px;}
.image-gallery img{max-height: 450px; object-fit: contain;}

.video-block iframe{height: 540px !important; }
#gallery img{max-width: 100%;}
.accordion-group { background: #fff; }
.product-links{ margin-top: 20px !important; }
.product-links .row{ background: #585353;}
.prev-button{
  top: 50%;
  width: 70px;
  height: 70px;
  margin-top: -1.5rem;
  font-size: 35px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all .3s;
  left: 0;
  margin-left: 2.5rem;
}
.next-button{
  top: 50%;
  width: 70px;
  height: 70px;
  margin-top: -1.5rem;
  font-size: 35px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all .3s;
  right: 0;
  margin-right: 2.5rem;
}

/* Footer */
.cid-ril9bk265C .display-7{font-size:16px;font-family: 'Roboto Condensed Reqular', sans-serif;}


@media only screen and (max-width: 767px) {
	.contact-div{
	  border-right: 0px;
	}
	.logo{text-align: center;}
  	.socicon{text-align: center;margin-bottom: 0px;}
  .product-icons{display: none;}
  .collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
  }
}

@media only screen and (max-width: 580px) {
  body{font-size: 15px;}
  .logo img{ width: 130px;}
  .cid-ril3yc4pgM button.navbar-toggler{top: 1.4rem;}
  .product-links { display: none; }
  #specifications{display: block; }
  #video{display: block; }
  #attachments{display: block; }
  #gallery{display: block; }
  .logo{text-align: center;}
  
  .socicon{text-align: center;margin-bottom: 0px;font-size: 23px;}

  /* Home page */
  .cid-ril8ADp4sV{padding: 45px 0 25px 0;}
  .cid-ril8H801Dr .section-text{padding: 0;font-size: 15px;}

  /* Application, products, contact */
  .cid-rilaYmvhbp, .cid-rilcHRASZE, .cid-rilmKbDRjr{padding: 100px 0 25px 0;}
  .cid-rild8axaz1 h4{font-size: 25px !important;}
  .cid-rild8axaz1 p{font-size: 16px !important;}
  /* Product Detail */
  .cid-rileZKUTg3 img {
    max-height: 350px;
  }
  .cid-rileZKUTg3 h3{font-size: 25px !important;}
  .cid-rileZKUTg3 p{font-size: 16px !important;}
  .content-slider-wrap{width: 100% !important;}
  .video-block iframe{height: 300px !important;}
  .cid-rillRmnV28 .display-5{ font-size: 15px;
    line-height: initial;
  }
  #image-gallery{top: 10%;padding: 0px !important;}

  .cid-ripCC9sqDe .full-screen .product-attachment .slider-fullscreen-image{min-height: 300px;}
  .cid-ripCC9sqDe .full-screen .home .slider-fullscreen-image{min-height: 450px;}

  /* Contact page */
  .mbr-form .input-group-btn button[type="submit"]{
    padding: 0.5rem 2rem;
  }
  .cid-rilnhsBBBL .mbr-text {
    font-size: 17px;
  }
  
  /* Footer */
  .cid-ril9bk265C .display-7{ font-size: 15px;}

  /* Header */
  .cid-ril3yc4pgM .navbar{min-height: 62px;}
  .cid-ril3yc4pgM .nav-link {
    font-size: 15px;
  }
}

